.dashboard-container{
    width: 100%;
    height: 93vh;
    margin: -39px;
    padding-top: 36px;
    padding-left: 53px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}

.dashboard-title{
    margin-top: 92px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-left: 19px;
    color: #042940;
    z-index: 2;
}

.dashboard-container .dashboard-subtitle{
    margin-top: -9px;
    font-size: 12px;
    color: #31adc1;
    font-family: 'Poppins', sans-serif;
    margin-left: 19px;
    z-index: 2;
}

.dashboard-container .table-footer{
    width: 100%;
    height: 40px;
    background: rgba(172, 255, 47, 0);
    display: flex;
    flex-direction: row-reverse;
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}

.dashboard-container .table-footer ion-icon{
    color: silver;
}

.dashboard-container .table-footer button{
    border-radius: 10px;
    border: 2px solid #f5f5f5;
    margin-left: 8px;
    background: white;
}

.dashboard-container .table-footer p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    color: #707070;
}

.dashboard-container .table-footer select:focus{
    border: 3px solid #ffffff;
}

.dashboard-container .table-footer option:focus{
    border: 3px solid #ffffff;
}
