.App{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.App .bg-container{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #005C53;
    z-index: 2;
}

/* .App .bg-container-gray{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #f4f4f4;
    z-index: 1;
} */