

.option-file form{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 3px;
    margin-bottom: 7px;
    width: 97%;
    height: 96%;
    background-color: white;
}

.option-file form textarea{
    height: 100px;
    width: 80%;
    color: #585858;
    resize: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 90%;
    height: 45px;
    margin: 5px;
    border: solid 2px #eeeeee;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    text-align: start;
    padding-left: 20px;
}

input[type=submit]{
    height: 50px;
    width: 50%;
    border: none;
    background-color: #FFF05E;
}

input[type=submit]:hover{
    background-color: #FFF178;
}


/* Estilos en form History */

    .option-file .formHistory .select-dimension-container{
        display: flex;
        flex-direction: column;
    }

    .option-file .formHistory .select-dimension-container label{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    color: #666666;
    position: absolute;
    margin-left: 18px;
    margin-top: -27px;
    }

    .option-file .formHistory .select-dimension-container select{
    border: none;
    background: #ffffff;
    color: #585858;
    width: 118px;
    height: 37px;
    border-radius: 7px;
    margin-left: 16px;
    margin-right: 0px;
    margin-top: -8px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    outline: none;
    position: absolute;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    }

    .option-file .formHistory .select-asignatura-container{
        display: flex;
        flex-direction: column;
        margin-left: 154px;
    }

    .option-file .formHistory .select-asignatura-container label{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    color: #666666;
    position: absolute;
    margin-left: 18px;
    margin-top: -27px;
    }

    .option-file .formHistory .select-asignatura-container select{
    border: none;
    background: #ffffff;
    color: #585858;
    width: 118px;
    height: 37px;
    border-radius: 7px;
    margin-left: 16px;
    margin-right: 0px;
    margin-top: -8px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    outline: none;
    position: absolute;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    }

    .option-file .formHistory  select option{
        background: #042940;
        color: white;
    }

    .option-file .formHistory .textArea-area{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        margin-left: 160px;
        width: 80%;
    }

    .option-file .formHistory .textArea-area textarea{
        width: 90%;
        height: 115px;
        margin: 5px;
        border: solid 2px #eeeeee;
        border-radius: 5px;
        text-align: center;
        background-color: white;
        color: #666666;
        font-family: 'Poppins', sans-serif;
        text-align: start;
        padding-top: 2px;
        padding-left: 20px;
    }

    .option-file .formHistory #send{
        border: none;
        background: none;
    }
    

    .option-file .formHistory #send ion-icon{
        font-size: 41px;
        color: #9fc131;
    }

    .option-file .formHistory #send ion-icon:hover{
        font-size: 41px;
        color: #6e9928;
        cursor:pointer;
    }
    
    
    .progress-bar-value {
        width: 100%;
        height: 2%;
        background-color: #9fc131;
        animation: indeterminateAnimation 1s infinite linear;
        transform-origin: 0% 50%;
        border-radius: 10px;
    }
      
      @keyframes indeterminateAnimation {
        0% {
          transform:  translateX(0) scaleX(0);
        }
        40% {
          transform:  translateX(0) scaleX(0.4);
        }
        100% {
          transform:  translateX(100%) scaleX(0.5);
        }
      }

      .option-file .submit-info{
        width: 300px;
        height: 36px;
        border-radius: 12px;
        margin-top: -25px;
        margin-bottom: 49px;
        margin-left: 17px;
        display: flex;
        flex-direction: row;
        background: #6e9928;
        position: relative;
      }

      .option-file .submit-info .info-p{
        font-size: 13px;
        margin-left: 45px;
        position: absolute;
        background: #6e9928;
      }

      .option-file .submit-info ion-icon{
        margin-top: 2px;
        margin-left: 15px;
      }

      .rotate{
        animation: animName 2s linear infinite;
      }
      
      @keyframes animName {
       0%{
          transform: rotate(0deg);
         }
      100%{
          transform: rotate(360deg);
         }
      }
